<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tearable Cloth</title>

    <link rel="stylesheet" href="../generated/css/project_libs.min.css">
    <link rel="stylesheet" href="../generated/css/project_gui.min.css">
  </head>

  <body>
      <div class="row" id="title-content">
          <div class="container">
              <h2 class="text-muted"> Tearable Cloth Engine Example</h2>
          </div>
      </div>
      <div class="row">
          <div class="contaier">
            <canvas id="c"></canvas>
          </div>
      </div>
      <footer>
          <div class="container">
              <p class="text-muted">
                  <span class="glyphicon glyphicon-filter"></span>
                  Demo Tearable Cloth Engine created by <b>Mihai Visuian</b>
                  <span class="glyphicon glyphicon-filter"></span>
              </p>
          </div>
      </footer>
</body>
    <script type="text/javascript" src="../generated/js/project_libs.min.js"></script>
    <script type="text/javascript" src="../generated/js/project_gui.min.js"></script>
</html>
